/RemoteCtrl/.vs
/RemoteCtrl/.vs/RemoteCtrl/v17/.suo
/RemoteCtrl/.vs/RemoteCtrl/v17/Browse.VC.db
/RemoteCtrl/.vs/RemoteCtrl/v17/ipch/51ca9cf1514cd44.ipch
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtrl/RemoteClient/Debug
/RemoteCtrl/RemoteClient/x64
/RemoteCtrl/Debug
/RemoteCtrl/RemoteCtrl/Debug
/RemoteCtrl/x64
/RemoteCtrl/RemoteCtrl/x64/Debug
/RemoteCtrl/RemoteCtrl/RemoteCtrl.aps
/RemoteCtrl/RemoteCtrl/test2023.jpg
/RemoteCtrl/RemoteCtrl/test2023.png
